body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightblue;
}
.navbar{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: navy;
    padding: 15px;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.content{
    text-align: center;
    padding: 40px;
}
h1{
    font-size: 36px;

}

@media( max-width: 760px)
{
    body{
        background-color: palevioletred;

    }
    h1{
        font-size: 20px;
        color: rgb(244, 250, 255);
    }
    p{
        font-size: 15px;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
    }
}