<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<footer class="footer">
  <div class="footer-inner">
    <div class="footer-top">
      <div class="col">
        <div class="brand">🛍️ ShopEZ</div>
        <p>Your one-stop electronics shop. Fast delivery, easy returns.</p>
      </div>
      <div class="col">
        <h4>Quick Links</h4>
        <a routerLink="/">Home</a>
        <a routerLink="/products">Products</a>
        <a routerLink="/contact">Contact Us</a>
        <a routerLink="/my-orders">My Orders</a>
      </div>
      <div class="col">
        <h4>Support</h4>
        <a href="#">Returns & Refunds</a>
        <a href="#">Track Order</a>
        <a href="#">Shipping Policy</a>
        <a href="#">FAQ</a>
      </div>
      <div class="col">
        <h4>Follow Us</h4>
        <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
        <a href="#"> <i class="fa-brands fa-instagram"></i> Instagram</a>
        <a href="#"><i class="fa-solid fa-x"></i> Twitter</a>
        <a href="#"><i class="fa-brands fa-youtube"></i> YouTube</a>
      </div>
    </div>

    <div class="footer-bottom">
      <span>&copy; 2024 ShopEZ. All rights reserved.</span>
      <div class="links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Use</a>
        <a href="#">Sitemap</a>
      </div>
    </div>
  </div>
</footer>
