<h2>Search Contact</h2>

<form  method="post">
    <label >Enter ContactId :</label>
    <input type="number" name="id">
    <button type="submit">Search</button>
   
</form>
<a href="/Contact/ShowDetails" class="btn btn-secondary text-center mt-5 ">GO Back</a>
